In [1]:
import numpy as np

#### 1)Write a function using only list filter lambda that can tell whether a number is a Fibonacci number or not. You can use a pre-calculated list/dict to store fab numbers till 10000

In [2]:
ref_nums = [0, 1]
fib_nums = [0, 1]

In [3]:
while fib_nums[-1] <= 10000:
  next_val = ref_nums[0] + ref_nums[1]
  ref_nums[0] = ref_nums[1]
  ref_nums[1] = next_val
  fib_nums.append(next_val)

print(fib_nums)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

In [4]:
isFibonacci = lambda x: True if x in fib_nums else False

In [5]:
isFibonacci(56)

False

In [6]:
isFibonacci(233)

True

##### 2) a). Add 2 iterables a and b such that a is even and b is odd

In [7]:
a = [2, 4, 6, 8]
b = [1, 3, 5, 7]

abc = lambda a, b: [x + y for x, y in zip([e for e in a if e%2 == 0], [o for o in b if o%2 != 0])]

In [8]:
abc(a, b)

[3, 7, 11, 15]

In [9]:
abc([1, 24, 3, 4, 5, 6, 7], [14, 7, 68, 77, 25, 24])

[31, 81, 31]

In [10]:
abc([2, 4, 6], [1, 3, 5])

[3, 7, 11]

##### 2) b) strips every vowel from a string provided

In [11]:
vowels = 'aeiou'
novow = lambda x: "".join([i for i in x if i not in vowels])

In [12]:
novow('aigsjggj')

'gsjggj'

In [13]:
novow('aeiou')

''

##### 2) c) acts like a ReLU function for a 1D array

In [14]:
relu = lambda x: [i if i >= 0 else 0 for i in x]

relu([1, 2, 7, -2, -3, 2, 6, 0])

[1, 2, 7, 0, 0, 2, 6, 0]

##### 2) d) acts like a sigmoid function for a 1D array

In [15]:
sigmoid = lambda x : [1/(1 + np.exp(-ele)) for ele in x]
sigmoid([99, 33, 45, 67, 8, 23, -45])

[1.0,
 0.9999999999999953,
 1.0,
 1.0,
 0.9996646498695336,
 0.9999999998973812,
 2.8625185805493937e-20]

##### 2) e) takes a small character string and shifts all characters by 5

In [16]:
str_shift = lambda x: "".join([chr(ord(char) + 5) for char in x])

In [17]:
str_shift('tsai')

'yxfn'

In [18]:
str_shift('abcde')

'fghij'

##### 3) A list comprehension expression that takes a ~200 word paragraph (write your own paragraph to check), and checks whether it has any of the swear words

In [19]:
with open('list.txt', 'r')as f:
  lines = f.readlines()

In [20]:
new_lines = []
for line in lines:
  new_lines.append(line.rstrip())

In [21]:
sentence = 'There i am minding my own business, eating eggs and drinking coffee. Suddenly my neighbour went bloody mary on his wife'

In [22]:
any = lambda x: True if [word for word in x.split() if word in new_lines] else False

In [23]:
any(sentence)

True

In [24]:
new_sent = 'Mama always said life was like a box of chocolates. You never know what youre gonna get'

In [25]:
any(new_sent)

False

##### 4) a) Using reduce functions, add only even numbers in a list

In [26]:
from functools import reduce
import random
from random import randint

evensum = lambda input : reduce(lambda a, b : a+b, [x for x in input if x%2==0])
evensum([1, 2, 3, 4, 6, 8])

20

#### 4) b) find the biggest character in a string (printable ascii characters)

In [27]:
bigchar = lambda string : reduce(lambda a, b : a if a>b else b, [x for x in string if x.isprintable()])
bigchar('excav@tion')

'x'

In [28]:
step_3_sum = lambda input:reduce(lambda a, b : a+b, [input[i] for i in range(2, len(input), 3)])
step_3_sum([1, 4, 2, 6, 8, 9, 3])

11

##### 5) Using randint, random.choice and list comprehensions, write an expression that generates 15 random KADDAADDDD number plates, where KA is fixed, D stands for a digit, and A stands for Capital alphabets. 10<<DD<<99 & 1000<<DDDD<<9999

In [29]:
caps = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
CAP_LIST = []
for cap in caps:
  CAP_LIST.append(cap)

In [30]:
['KA' + str(randint(10,99)) + random.choice(CAP_LIST) + random.choice(CAP_LIST) + str(randint(1000, 9999)) for x in range(15)]

['KA79VX4303',
 'KA67BX1237',
 'KA86LH9329',
 'KA70TM3864',
 'KA28EB5885',
 'KA60LW4537',
 'KA40WR4715',
 'KA13UI6744',
 'KA34TC1931',
 'KA57FT2373',
 'KA20XN7432',
 'KA78AM1105',
 'KA11GJ3017',
 'KA47IB6052',
 'KA72JJ2135']

##### 6) Write the above again from scratch where KA can be changed to DL, and 1000/9999 ranges can be provided

In [31]:
plates = lambda base, low, high: [base + str(randint(10,99)) + random.choice(CAP_LIST) + random.choice(CAP_LIST) + str(randint(low, high)) for x in range(15)]

In [32]:
plates('DL', 2000, 5000)

['DL62CP4451',
 'DL28DN2545',
 'DL13SZ2208',
 'DL62NX4805',
 'DL58RQ2621',
 'DL80IC3738',
 'DL37CC2355',
 'DL57QZ4872',
 'DL37RR3003',
 'DL68VR3684',
 'DL56GZ2330',
 'DL53GV2952',
 'DL89IY2502',
 'DL12OB2869',
 'DL20UV2518']