In [1]:
# write a python program to add two numbers 
num1 = 1.5
num2 = 6.3
suma = num1 + num2
print(f'Sum: {suma}')

Sum: 7.8

In [2]:
# write a python function to add two user provided numbers and return the sum
def add_two_numbers(num1, num2):
    sumb = num1 + num2
    return sumb

In [3]:
# write a program to find and print the largest among three numbers
num1 = 10
num2 = 12
num3 = 14
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3
print(f'largest:{largest}')

largest:14

In [4]:
# Highest repeated word in a sentence

sent = "here i am trying to find out who was here"

print(f'Highest repeated word in the above sentence is: {max(sent.split(),key=sent.split().count)}')

Highest repeated word in the above sentence is: here

In [5]:
# Given two lists where one list has an extra element, find that element using Sum.

l1 = [5, 54, 78, 4, 96]
l2 = [5, 54, 78, 37, 4, 96]

def extra_elem_with_sum(l1, l2):
  l1 = sum(l1)
  l2 = sum(l2)

  if l1 > l2:
    return l1 - l2
  else:
    return l2 - l1

print(extra_elem_with_sum(l1, l2))

37

In [6]:
# Given two lists where one list has an extra element, find that element using XOR.

l1 = [5, 54, 78, 4, 96]
l2 = [5, 54, 78, 37, 4, 96]

def extra_elem_with_xor(l1, l2):
  base = 0
  for el in l1:
    base = base ^ el
  for el in l2:
    base = base ^ el
  return base

print(extra_elem_with_xor(l1, l2))

37

In [7]:
# write a program to remove custom stop words and return string

stopwords = ['is', 'are', 'and', 'the', 'i', 'am', 'me', 'my', 'to']

string = 'my name is sreekanth i am trying to complete the assignment'

nostops = []
for word in string.split():
  if not word in stopwords:
    nostops.append(word)
print(" ".join(nostops))

name sreekanth trying complete assignment

In [8]:
## Given two lists add them using zip

l1 = [1, 7, 2, 4, 56, 47]
l2 = [5, 3, 7, 23, 65, 34]

add = []

for x, y in zip(l1, l2):
  add.append(x+y)

print(f"Result is: {add}")

Result is: [6, 10, 9, 27, 121, 81]

In [9]:
## Given two lists add them using enumerate

l1 = [1, 7, 2, 4, 56, 47]
l2 = [5, 3, 7, 23, 65, 34]

add = []

for ix, x in enumerate(l1):
  add.append(x+l2[ix])

print(f"Result is: {add}")

Result is: [6, 10, 9, 27, 121, 81]

In [10]:
## Given a list, finding out non-repititive elements using extra array

l1 = [1, 4, 2, 8, 8, 2, 4, 3, 9, 0, 37, 73]

ans = []
for ele in l1:
  if ele in ans:
    ans.remove(ele)
  else:
    ans.append(ele)

print(f"Result is: {ans}")

Result is: [1, 3, 9, 0, 37, 73]

In [11]:
## Merging dictionaries

dict1 = {'a': 1, 'b':2}
dict2 = {'b': 3, 'c': 4}

merged = {**dict1, **dict2}

print(merged)

{'a': 1, 'b': 3, 'c': 4}

In [12]:
## Check if two words are Anagram's

from collections import Counter

def anagram(first, second):
  return Counter(first) == Counter(second)

print(f"Are they ANAGRAM's: {anagram('abcde', 'bceda')}")

Are they ANAGRAM's: True

In [13]:
## Memory usage of variables

import sys

my_list = range(0, 1000)

print(f"Memory usage of above variable is: {sys.getsizeof(my_list)}")

Memory usage of above variable is: 48

In [14]:
## Check if it's a Palindrome

is_palindrome = lambda phrase: phrase == phrase[::-1]

print(f"Is this word Palindrome: {is_palindrome('malayalam')}")

Is this word Palindrome: True

In [15]:
## Remove lower case letters from given string

import re
string1 = 'KHHGFHGfgfgsfjhKhkKJjhfGJGtsFHGKvGH'

remove_lower = lambda text: re.sub('[a-z]', '', text)

print(f"After removing lowercase letters: {remove_lower(string1)}")

After removing lowercase letters: KHHGFHGKKJGJGFHGKGH

In [16]:
## List of integers to list of strings

nums_list = [1, 3, 45, 74, 6]

result = list(map(str, nums_list))

print(result)

['1', '3', '45', '74', '6']